*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #090E16;
    font-family: "Raleway", sans-serif;
    color: white;
}

nav{
    margin: 30px 100px;
    padding: 10px;
    border-radius: 16px;
    background-color: rgba(123, 74, 226, 5%);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav-list{
 list-style: none;
 display: flex;
 gap: 20px;
}

.nav-list > li > a{
    text-decoration: none;
    color: white;
}

.nav-list > li > a:hover{
    color: #7B4AE2;
}

main{
    height: 75vh;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gretting{
    background-color: rgba(123, 74, 226, 5%);
    color: #7B4AE2;
    padding: 8px;
    border-radius: 16px;
}

.title{
    font-size: 52px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.description{
    font-size: 20px;
    color: rgba(255, 255, 255, 50%);
    font-weight: 300;
    margin-bottom: 20px;
}

.social-links{
    display: flex;
    gap: 17px;
}

.cv{
    margin-right: 20px;
    color: #7B4AE2;
    font-size: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    
}

.cv > p > a{
    text-decoration: none;
}

.chat{
    padding: 10px;
    color: #7B4AE2;
    font-size: 20px;
    margin-top: 20px;
    border: solid 1px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat > p > a{
    text-decoration: none;   
}

.divider{
    border: solid rgba(123, 74, 226, 20%) 0.5px;
}

.container-cards{
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.container-cards > div{
    border: solid rgba(123, 74, 226, 5%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 246px;
    height: 200px;
}

.container-cards > div:nth-child(2){
    background-color: rgba(123, 74, 226, 10%);
    border: none;
}

.container-cards > div > p{
    font-weight: 300;
    margin-top: 10px;
}

.container-cards > div > h3{
    font-size: 32px;
    font-weight: bold;
}

.container-summary{
    background-color: rgba(123, 74, 226, 10%);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 878px;
    height: 110px;
    /*margin auto centra el elemento de forma automatica*/
    margin: auto;
    margin-bottom: 60px;
    color: #7b4ae2;
}

.container-summary > div{
    width: 246px;
    text-align: center;
}

.container-summary > div > p:first-child{
    font-weight: 300;
}

.container-summary > div > p:last-child{
    font-weight: bold;
    font-size: 32px;
}

.sobre-mi{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.foto-perfil > img{
    border-radius: 25%;
}

.information > h2{
    font-size: 48px;
    margin-top: 15px;
}

.information > p{
    color: rgba(255, 255, 255, 50%);
}

.name{
    margin-top: 15px;
}

.about-me{
    color: rgba(255, 255, 255, 50%);
    margin-top: 25px;
}

.end{
    margin-top: 25px;
}