*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(30, 54%, 90%);
}

main{
    background-color: white;
    border-radius: 16px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    padding: 80px;
}

img{
    border-radius: 16px;
    margin-bottom: 50px;
}

.start-omelette{
    font-size: 30px;
    margin-bottom: 40px;
}

.start-omelette > h1{
    margin-bottom: 30px;
}

.start-omelette > p{
    font-size: 20px;
}

.preparation{
    background-color: hsl(330, 100%, 98%);
    border-radius: 16px;
    padding: 40px;
    margin-bottom: 40px;
}

.preparation > h2{
    color: hsl(332, 51%, 32%);
    font-size: 30px;
    margin-bottom: 20px;
}

.preparation > ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 4%;
}

.ingredientes > p{
    font-size: 40px;
    color: hsl(14, 45%, 36%);
    margin-bottom: 20px;
}

.ingredientes > ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 4%;
    margin-bottom: 30px;
}

hr{
    margin-bottom: 30px;
    border: solid hsl(30, 18%, 87%) 0.3px;
}

.intrucciones > p{
    font-size: 40px;
    color: hsl(14, 45%, 36%);
    margin-bottom: 20px;
}

.intrucciones > ol{
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 3%;
    margin-bottom: 30px;
}

.nutrition > p:first-child{
    font-size: 40px;
    color: hsl(14, 45%, 36%);
    margin-bottom: 20px;
}

.calorias{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calorias > div{
    margin-left: 10%;
    margin-bottom: 2%;
    display: flex;
}

.calorias > div > p:first-child{
    display: flex;
    width: 50%;
    font-weight: bold;
    color: rgb(149, 147, 147);
}

.calorias > div > p:last-child{
    width: 50%;
    font-size: 20px;
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}